<?xml version="1.0" encoding="UTF-8"?>
<!-- ********************************************************************** -->
<!--    Intercompany Trade - Stock module for Odoo                          -->
<!--    Copyright (C) 2015-Today GRAP (http://www.grap.coop)                -->
<!--    @author Sylvain LE GAL (https://twitter.com/legalsylvain)           -->

<!--This program is free software: you can redistribute it and/or modify    -->
<!--it under the terms of the GNU Affero General Public License as          -->
<!--published by the Free Software Foundation, either version 3 of the      -->
<!--License, or (at your option) any later version.                         -->

<!--This program is distributed in the hope that it will be useful,         -->
<!--but WITHOUT ANY WARRANTY; without even the implied warranty of          -->
<!--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the           -->
<!--GNU Affero General Public License for more details.                     -->

<!--You should have received a copy of the GNU Affero General Public License-->
<!--along with this program.  If not, see <http://www.gnu.org/licenses/>.   -->
<!-- ********************************************************************** -->
<openerp><data>

<!-- Model: stock.picking.in (1.10) -->
    <menuitem id="menu_stock_picking_in_supplier"
        parent="intercompany_trade_base.menu_intercompany_trade_purchase"
        action="action_stock_picking_in_supplier"
        sequence="20"/>

<!-- Model: stock.picking.out (2.10) -->
    <menuitem id="menu_stock_picking_out_customer"
        parent="intercompany_trade_base.menu_intercompany_trade_sale"
        action="action_stock_picking_out_customer"
        sequence="20"/>

</data></openerp>
