<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2015 - Today: GRAP (http://www.grap.coop)
@author Sylvain LE GAL (https://twitter.com/legalsylvain)
License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).
-->
<openerp><data>

<!-- Model: account.invoice (1.30) -->
    <menuitem id="menu_account_invoice_supplier"
        parent="intercompany_trade_base.menu_intercompany_trade_purchase"
        action="action_account_invoice_supplier"
        sequence="30"/>

<!-- Model: account.invoice (2.30) -->
    <menuitem id="menu_account_invoice_customer"
        parent="intercompany_trade_base.menu_intercompany_trade_sale"
        action="action_account_invoice_customer"
        sequence="30"/>

</data></openerp>
