.integrated_trade_nothing_to_do {
  height: 20px;
  display: inline-block;
  background: #90EE90 none repeat scroll 0% 0%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 3px 12px;
  marging-left: 10px;
  marging-right: 10px;
  font-size: 13px;
  text-align: center;
}

.integrated_trade_waiting{
  height: 20px;
  display: inline-block;
  background: #FFD700 none repeat scroll 0% 0%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 3px 12px;
  marging-left: 10px;
  marging-right: 10px;
  font-size: 13px;
  text-align: center;
}

.integrated_trade_todo{
  height: 20px;
  display: inline-block;
  background: #FFA500 none repeat scroll 0% 0%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 3px 12px;
  marging-left: 10px;
  marging-right: 10px;
  font-size: 13px;
  text-align: center;
}